<div class="container-fluid top"></div>
<footer class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h3>Nous contacter</h3>
      <address>
        <strong>Comité d'accueil aux réfugiés St-Yves</strong><br/>
        <a href="mailto:carsaintyves@gmail.com">carsaintyves@gmail.com</a><br/>
        Presbytère Saint-Yves<br/>
        2470 Rue Triquet<br/>
        Ville de Québec, QC G1W 1E2<br/>
        (418) 652-2105
      </address>
    </div>
    <div class="col-sm">
      <h3>Navigation</h3>
      <a href="index.html">Comité</a><br/>
      <a href="parrainer.html">Parrainer</a><br/>
      <a href="don.html">Faire un don</a><br/>
      <a href="actualites.html">Actualités</a><br/>
      <a href="joindre.html">Nous joindre</a><br/>
      <a href="faq.html">FAQ</a><br/>
    </div>
  </div>
  &copy; Comité d'accueil aux réfugiés St-Yves | 2018
</footer>
