<div class="container-fluid top"></div>
<footer class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h3>Nous contacter</h3>
      <address>
        <strong>{{ site.organisation }}</strong><br/>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a><br/>
        {% for part in site.address %}
          {{ part }}<br/>
        {% endfor %}
        <a href="tel:{{ site.phone_number }}">{{ site.phone_number }}</a>
      </address>
    </div>
    <div class="col-sm">
      <h3>Navigation</h3>
      {% for page in site.data.pages %}
        <li class="nav-item">
          <a href="{{ page.url }}">{{ page.title }}</a><br/>
        </li>
      {% endfor %}
    </div>
  </div>
  &copy; {{ site.organisation }} | {{ site.time | date: '%Y' }}
</footer>
