<!-- TODO: add "active" class to the selected menu item. -->
<body>
  <div class="container-fluid top"></div>
  <nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <a class="navbar-brand" href="index.php"><img src="img/logos/org.png" alt="Comité d'accueil aux réfugiés St-Yves"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Le comité</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="parrainer.html">Parrainer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="don.html">Faire un don</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="actualites.html">Actualités</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="joindre.html">Nous joindre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="faq.html">FAQ</a>
        </li>
      </ul>
    </div>
  </nav>
